body {
  font: 10px sans-serif;
}
text {
    pointer-events: none;
}
.axis{
font-size:20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {

}

.g_main {
  // ..
  pointer-events: all;
}

.stringLabels
{
-webkit-user-select: none;        
-moz-user-select: none;
-ms-user-select: none;
  font-size: 20px;
}

text.label{
  font-size: 15px;
}